extend _template.jade

block title
	title Реквизиты
block content
	.slider
		h1 Реквизиты
		table.table
			tr
				th Адрес:
				td
					|192281, г. Санкт-Петербург, ул. Купчинская  д.15, корп.1 г, пом. 4н
			tr
				th ОГРН
				td 1157847438320
					
			tr
				th ИНН
				td 7816313057
					
			tr
				th КПП
				td 781601001
					
			tr
				th ОКПО
				td 33117361
					
			tr
				th БИК
				td 044030723 
					
			tr
				th БАНК
				td Филиал "Северная столица" АО "Райффайзенбанк"
					
			tr
				th Р\С
				td 40702810203000006595
					
			tr
				th 
					| Генеральный
					br
					| директор
				td Маюров Иван Викторович
					
			tr
				th e-mail:
				td pst_spb2016@mail.ru
			tr
				th Тел.:
				td 242-87-33
					
			