extend _template.jade

block title
	title PST
block content
	.slider
		.row
			.col-lg-12.text-center
				#carousel-example-generic.carousel.slide(data-ride="carousel")
					ol.carousel-indicators.hidden-xs
						li.active(data-target='#carousel-example-generic', data-slide-to='0')
						li(data-target='#carousel-example-generic', data-slide-to='1')
						li(data-target='#carousel-example-generic', data-slide-to='2')
					.carousel-inner
						.item.active
							img.img-responsive.img-full(src='img/paint.jpg', alt='Краска для строительства')
						.item
							img.img-responsive.img-full(src='img/tools.jpg', alt='Строительные инструменты')
						.item
							img.img-responsive.img-full(src='img/nail.jpg', alt='Гвозди')
					a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
						span.icon-prev
					a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
						span.icon-next
	.slider
		h1 О компании "ПСТ"
		p
			| Наша компания уже более 7 лет работает на рынке потребительских товаров повседневного спроса, предлагая высококачественные товары и услуги. Мы осуществляем комплексное снабжение производственных предприятий, строительных организаций, больниц, учебных заведений и т.д.
		p
			| Мы ценим время и средства наших заказчиков и постоянно совершенствуем формы и условия работы с тем, что бы сделать их максимально привлекательными.
		p
			| Высококвалифицированный персонал нашей компании поможет составить заказ, доставит в пределах Санкт-Петербурга и Ленинградской области. Мы поможем сформировать и поддерживать товарный запас оптимальный для вашего предприятия, и будем информировать Вас обо всех новинках в ассортименте.

		h2.text-center Сегодня к вашим услугам:
		ul.slider-list
			li
				| гибкая система ценообразования, настраиваемая индивидуально под каждого клиента

			li
				| система мобильной торговли

			li 
				| бесплатная доставка

			li
				| возврат, замена неподходящего или бракованного товара

			li
				| оригиналы счетов, прайс-лист, договора и т.д. доставляются бесплатно курьером

			li
				| постоянным клиентам может быть предоставлена отсрочка платежа

			li
				| расчет производится в удобной для вас форме
		p
			| Ассортимент компании “ПромСтройТорг” насчитывает более 5000 тысяч наименований товаров, относящихся к продукции бытового назначения и к продукции профессионального назначения.
//
//У нас вы сможете приобрести:
//
//Отделочные материалы
//
//Инструмент (электро-, пневмо- и т.д.)
//
//Хозяйственные товары
//
//Промышленная и бытовая химия
//
//Строительные материалы
//
//Метизная продукция
//
//На все дополнительные вопросы вы сможете получить ответ по телефону или по
//
//электронной почте:
//
//Тел. / Факс 640-97- 57
//
//8-951- 643-34- 61
//
//Эл. Адрес: inna_pss@mail.ru
//
//С уважением,
//
//Специалист отдела продаж Инна Сергеевна.
script.
	| $(function(){
	| $('.carousel').carousel({
	| interval: 2000
	| });
	| });
