div(style='width:100%;float:none; overflow:hidden; padding: 0; margin: 0;')
	p(style='float:left;')
		span(style='margin: 0; font-size:18px; font-weight:bold; display:block;') ПСТ
		span(style='font-size:12px; display:block;') Товары для строительства и ремонта
	p(style='margin: 0; float:right;font:14px Arial;color:rgb(118,122,123);margin-top:15px; text-decoration:none;')
		span(style='padding-bottom:5px;display:block;') +7 (953) 140-84-40
		span(style='display:block;') pst_spb2016@mail.ru
	div(style='width:100%;background-color:rgb(215,215,215);min-height:1px')
	div(style='font-size:1.077em;line-height:1.43;margin:35px 0;')
		p
		| Благодарим за Вашу заявку! В ближайшее время наши менеджеры свяжутся с вами по указанному телефону или почте.
		ul(style='margin:0.77em 0 1.15em')
			li(style='margin:0.385em 0')
				| Имя: 
				span(style='font-weight:bold;') Тест
			li(style='margin:0.385em 0')
				| Телефон: 
				span(style='font-weight:bold;') +7 (222) 222-22-22
			li(style='margin:0.385em 0')
				| Почта: 
				span(style='font-weight:bold;') test@test.com
			li(style='margin:0.385em 0')
				| Вопрос: 
				span(style='font-weight:bold;') Почему???