extend _template.jade

block title
	title Услуги
block content
	.slider
		h1 Наши услуги
		p
			| Компания "ПСТ" предлагает своим клиентам поставку материалов по городу Санкт-Петербургу и Ленинградской области. Возможность доставки в другие регионы России согласовывается в индивидуальном порядке.
		p
			| Доставка товара осуществляется по договоренности с клиентом и не может быть выполнена непосредственно в день оплаты счета (как правило, доставка осуществляется в течение 1-3 рабочих дней).