extend _template.jade

block title
	title Спасибо за обращение
block content
	.slider
		h1 Спасибо за обращение!
		p 
			| Ваша заявка отправлена. Наши менеджеры свяжутся с вами по телефону или с помощью электронной почты в ближайшее время.