
$font-base: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-caption: "Josefin Slab","Helvetica Neue", Helvetica, sans-serif;
$font-size-base: 20px;

$leter-spacing: 3px;
$c-link-nav: #777;
$c-navbar: rgba(255,255,255,0.9);