
$font-base: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-caption: "Josefin Slab","Helvetica Neue", Helvetica, sans-serif;
$font-size-base: 20px;

$bg-navbar: rgba(255,255,255,0.9);
$leter-spacing: 3px;
$c-white: #ffffff;
$c-link-nav: #777;
$c-link: rgba(249,244,56,0.8);
$c-link-hover: rgba(249,244,56,1);
$c-border-h1: 1px solid #808080;